<launch>
  <!-- Define arguments -->
  <arg name="ctrl_mode" default="DSR"/>
  <arg name="ang_ctrl_mode" default="LOS"/>
  <arg name="alpha" default="0.3"/>
  <arg name="alpha_angle" default="1.5"/>
  <arg name="beta1" default="0.8"/>
  <arg name="beta2" default="0.94"/>
  <arg name="spacing" default="0.25"/>
  <arg name="tau" default="0.04"/>
  <arg name="follower_indx" default="0"/>
  <arg name="tag_lp_gain" default="0.15"/>
  <arg name="brightness" default="0.02"/>

  <!-- Base bringup -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />

  <!-- Camera and Apriltag detection (life param allowed) -->
  <include file="$(find camera_multi_tag)/launch/camera_multi_tag.launch">
    <arg name="tag_lp_gain" value="$(arg tag_lp_gain)"/>
  </include>

  <!-- EKF for pose estimation -->
  <include file="$(find robot_pose_ekf)/launch/robot_pose_ekf.launch" />

  <!-- Tracking node -->
  <include file="$(find tracking)/launch/tracking.launch">
    <arg name="ctrl_mode" value="$(arg ctrl_mode)"/>
    <arg name="ang_ctrl_mode" value="$(arg ang_ctrl_mode)"/>
    <arg name="alpha" value="$(arg alpha)"/>
    <arg name="alpha_angle" value="$(arg alpha_angle)"/>
    <arg name="beta1" value="$(arg beta1)"/>
    <arg name="beta2" value="$(arg beta2)"/>
    <arg name="spacing" value="$(arg spacing)" />
    <arg name="tau" value="$(arg tau)"/>
    <arg name="follower_indx" value="$(arg follower_indx)" />
  </include>

  <!-- LED pad lighting -->
  <!-- <include file="$(find lighting)/launch/lighting.launch">
    <arg name="brightness" value="$(arg brightness)"/>
  </include> -->
</launch>
