<?xml version="1.0"?>

<launch>

	<!-- <arg name="env"     default="/opt/ros/noetic/env_henry.sh"/> -->
	<arg name="env"          default="/opt/ros/noetic/env_alien.sh"/>
	<arg name="use_Bezier"   default="False"/>
	<arg name="ues_DSR"      default="True"/>
	<arg name="spacing"      default="0.35"/>
	<arg name="alpha"        default="0.5"/>
	<arg name="beta"         default="0.5"/>
	<arg name="lowpass_gain" default="0.1"/>

    <!-- tbot165 -->
	<group ns="tbot165">
		<machine
					name="bot165"
					address="192.168.0.165"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot165" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_165" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>
	</group>

	<!-- tbot162 -->
	<group ns="tbot162">
		<machine
					name="bot162"
					address="192.168.0.162"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot162" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_162" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>

		<node machine="bot162" pkg="camera_multi_tag" name="image_publisher" type="image_publisher.py" output="screen" />
		<node machine="bot162" pkg="camera_multi_tag" name="cam_multi_tag_node" type="camera_multi_tag" output="screen" />
		
		<node machine="bot162" pkg="pd_tracking_xy" name="pd_tracking_xy" type="pd_tracking_xy.py" output="screen">
			<param name="follower_indx" value="2"/>
			<param name="use_Bezier"    value="$(arg use_Bezier)"/>
			<param name="ues_DSR"       value="$(arg ues_DSR)"/>
			<param name="spacing"       value="$(arg spacing)"/>
			<param name="alpha"         value="$(arg alpha)"/>
			<param name="beta"          value="$(arg beta)"/>
			<param name="lowpass_gain"  value="$(arg lowpass_gain)"/>
		</node>
	</group>

	<!-- tbot201 -->
	<group ns="tbot201">
		<machine
					name="bot201"
					address="192.168.0.201"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot201" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_201" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>

		<node machine="bot201" pkg="camera_multi_tag" name="image_publisher" type="image_publisher.py" output="screen" />
		<node machine="bot201" pkg="camera_multi_tag" name="cam_multi_tag_node" type="camera_multi_tag" output="screen" />
		
		<node machine="bot201" pkg="pd_tracking_xy" name="pd_tracking_xy" type="pd_tracking_xy.py" output="screen">
			<param name="follower_indx" value="1"/>
			<param name="use_Bezier"    value="$(arg use_Bezier)"/>
			<param name="ues_DSR"       value="$(arg ues_DSR)"/>
			<param name="spacing"       value="$(arg spacing)"/>
			<param name="alpha"         value="$(arg alpha)"/>
			<param name="beta"          value="$(arg beta)"/>
			<param name="lowpass_gain"  value="$(arg lowpass_gain)"/>
		</node>
	</group>
	
	<!-- tbot149 -->
	<group ns="tbot149">
		<machine
					name="bot149"
					address="192.168.0.149"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot149" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_149" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>

		<node machine="bot149" pkg="camera_multi_tag" name="image_publisher" type="image_publisher.py" output="screen" />
		<node machine="bot149" pkg="camera_multi_tag" name="cam_multi_tag_node" type="camera_multi_tag" output="screen" />
		
		<node machine="bot149" pkg="pd_tracking_xy" name="pd_tracking_xy" type="pd_tracking_xy.py" output="screen">
			<param name="follower_indx" value="0"/>
			<param name="use_Bezier"    value="$(arg use_Bezier)"/>
			<param name="ues_DSR"       value="$(arg ues_DSR)"/>
			<param name="spacing"       value="$(arg spacing)"/>
			<param name="alpha"         value="$(arg alpha)"/>
			<param name="beta"          value="$(arg beta)"/>
			<param name="lowpass_gain"  value="$(arg lowpass_gain)"/>
		</node>
	</group>

</launch>
