<?xml version="1.0"?>

<launch>

	<arg name="env"       default="/opt/ros/noetic/env_henry.sh"/>
	<!-- <arg name="env"            default="/opt/ros/noetic/env_alien.sh"/> -->

    <!-- tbot165 -->
	<group ns="tbot165">
		<machine
					name="bot165"
					address="192.168.0.165"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot165" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_165" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>
	</group>

	<!-- tbot149 -->
	<group ns="tbot149">
		<machine
					name="bot149"
					address="192.168.0.149"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot149" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_149" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>

		<node machine="bot149" pkg="camera_multi_tag" name="image_publisher" type="image_publisher.py" output="screen" />
		<node machine="bot149" pkg="camera_multi_tag" name="cam_multi_tag_node" type="camera_multi_tag" output="screen" />
		<!-- <node machine="bot149" pkg="camera_multi_tag_2" name="camera_multi_tag_2" type="cam_multi_tag_2.py" output="screen"/>  -->

		<!-- <node machine="bot149" pkg="lighting" name="lighting" type="square_neopixel.py" output="screen"> 
        	<param name="brightness" value="0.2"/>
    	</node> -->
	</group>

	<!-- tbot162 -->
	<!-- <group ns="tbot162">
		<machine
					name="bot162"
					address="192.168.0.162"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot162" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_162" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>

		<node machine="bot162" pkg="camera_multi_tag" name="image_publisher" type="image_publisher.py" output="screen" />
		<node machine="bot162" pkg="camera_multi_tag" name="cam_multi_tag_node" type="camera_multi_tag" output="screen" />

		<node machine="bot162" pkg="lighting" name="lighting" type="square_neopixel.py" output="screen"> 
        	<param name="brightness" value="0.2"/>
    	</node>
	</group> -->

	<!-- tbot205 -->
	<!-- <group ns="tbot205">
		<machine
					name="bot205"
					address="192.168.0.205"
					env-loader="$(arg env)"
					default="true"
					user="ubuntu"
					password="turtlebot"
		/>
		<node machine="bot205" pkg="rosserial_python" type="serial_node.py" name="turtlebot3_core_205" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>

		<node machine="bot205" pkg="camera_multi_tag" name="image_publisher" type="image_publisher.py" output="screen" />
		<node machine="bot205" pkg="camera_multi_tag" name="cam_multi_tag_node" type="camera_multi_tag" output="screen" />

		<node machine="bot205" pkg="lighting" name="lighting" type="square_neopixel.py" output="screen"> 
        	<param name="brightness" value="0.2"/>
    	</node>
	</group> -->

</launch>
