<launch>
  <!-- ===================== Parameters ===================== -->
  <arg name="ctrl_mode" default="DSR"/>
  <arg name="ang_ctrl_mode" default="LOS"/>
  <arg name="alpha" default="0.3"/>
  <arg name="alpha_angle" default="3.0"/>
  <arg name="beta1" default="0.8"/>
  <arg name="beta2" default="0.94"/>
  <arg name="tau" default="0.04"/>
  <arg name="spacing" default="0.35"/>
  <arg name="follower_indx" default="0"/>

  <!-- ===================== Odom Covariance Wrapper ===================== -->
  <include file="$(find tracking)/launch/odom_cov.launch" />

  <!-- ===================== Tracking Node ===================== -->
  <node name="tracking_node" pkg="tracking" type="tracking_node" output="screen">
    <param name="ctrl_mode" value="$(arg ctrl_mode)"/>
    <param name="ang_ctrl_mode" value="$(arg ang_ctrl_mode)"/>
    <param name="alpha" value="$(arg alpha)"/>
    <param name="alpha_angle" value="$(arg alpha_angle)"/>
    <param name="beta1" value="$(arg beta1)"/>
    <param name="beta2" value="$(arg beta2)"/>
    <param name="tau" value="$(arg tau)"/>
    <param name="spacing" value="$(arg spacing)"/>
    <param name="follower_indx" value="$(arg follower_indx)"/>
  </node>
</launch>
